<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebNoPay</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/logo.css">
</head>

<body>
    <header class="colores-institucionales row">
        <div class="morado"></div>
        <div class="purpura"></div>
        <div class="verdeagua"></div>
    </header>
    <main class="container main-container">
        <section class="logo-container row col">
            <div class="logo">
                <div class="webnopay-container row">
                    <div class="pelota1"></div>
                    <h1 class="webnopay">webnopay</h1>
                    <div class="pelota2"></div>
                </div>
                <div class="webnopay-container row">
                    <div class="pelota3"></div>
                    <h2 class="notransbank">notransbank</h2>
                    <div class="pelota4"></div>
                </div>
            </div>
        </section>

        <section class="seccionPago">
            <header class="datosPago row">
                <div class="tienda">
                    <p>Estás pagando en:</p>
                    <h2>Siglo XXI</h2>
                </div>
                <div class="monto">
                    <p>Monto a pagar:</p>
                    <h2>$</h2>
                </div>
            </header>
            <main class="metodoPago">
                <p class="metodoPago__p">Selecciona tu medio de pago:</p>
                <div class="tarjetas row card">
                    <img src="./img/tarjeta.png" alt="tarjeta" >
                    <div class="tarjetas__texto">
                        <h2 class="tarjetas__title">Tarjetas</h2>
                        <p class="tarjetas__p">Débito, Prepago</p>
                    </div>
                </div>
                <div class="onepay row card">
                    <img src="./img/codigo-qr.png" alt="qr" >
                    <div class="logo">
                        <div class="webnopay-container row">
                            <div class="pelota5"></div>
                            <h1 class="onepay-logo">onepay</h1>
                            <div class="pelota6"></div>
                        </div>
                        <div class="webnopay-container row">
                            <div class="pelota7"></div>
                            <h2 class="notransbank-onepay">notransbank</h2>
                            <div class="pelota8"></div>
                        </div>
                    </div>
                </div>
            </main>

            <section class="enlaces">
                <p class="enlaces__a">Anular compra y volver</p>
                <div class="enlaces__seguridad row">
                    <img src="./img/escudo.png" alt="compra segura">
                    <p>Transacción respaldada por notransbank. Revisa las <span class="enlaces__span">condiciones del servicio.</span> </p>
                </div>
            </section>
        </section>
    </main>
</body>

</html>